<!-- <h1>Hello world</h1>

<button (click)="onClick()">Click</button>
<input
  type="text"
  (keyup)="onInput($event)"
  (blur)="onBlur(myInput.value)"
  #myInput
/>
<p
  [ngClass]="{
    red: inputValue.length < 3,
    blue: inputValue.length >= 3
  }"
>
  <strong>{{ inputValue }}</strong>
</p>

<button (click)="toggle = !toggle">Toggle</button>

<p class="red" *ngIf="toggle; else blueP">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, veniam.
</p>

<ng-template #blueP>
  <p class="blue" *ngIf="!toggle">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ullam.
  </p>
</ng-template> -->
<div class="container">
  <h1>Angular Components</h1>
  <app-post-form (onAdd)="updatePosts($event)"></app-post-form>
  <hr />
  <app-post
    *ngFor="let post of posts"
    [post]="post"
    (onRemove)="removePost($event)"
  >
    <div #info>Hello</div>
  </app-post>

  <p appStyle="red" [dStyles]="{ border: '1px solid blue' }">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam id totam,
    tempore tempora ut ducimus?
  </p>
</div>
