.red {
  background: red;
  font-weight: bold;
  color: #fff;
}

.blue {
  background: blue;
  font-size: 2.5rem;
  color: #fff;
}

p {
  font-size: 1.5rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}
